*.env*
*.log*
*.DS_Store*
!*.example*
run/
hs_err_pid*
.gradle/
**/build/
!src/**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties
.idea/
*.iml
.settings/
*.launch
.project
.vscode/
.history/
*.code-workspace
